html,
body {
    height: 100%;
    background-color: #f8f9fa;
}

.welcome .container {
    max-width: 900px;
}

.welcome .pricing-header {
    max-width: 700px;
}

.login .form-signin {
    max-width: 400px;
    padding: 1rem;
}

.login .form-signin .form-floating:focus-within {
    z-index: 2;
}

.login .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home .card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home .card-title {
    font-weight: bold;
}

.home .badge {
    font-size: 0.9rem;
}

.home .img-fluid {
    border-radius: 0.5rem;
}

.home .list-unstyled li {
    margin-bottom: 0.5rem;
}

.home .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.home .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.page-title-box .page-title {
    font-size: 32px;
    margin: 0;
    line-height: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: $page-title-color; */
}

.page-title-box .page-title-right {
    float: right;
    margin-top: 20px;
}

.page-title-box .breadcrumb {
    padding-top: 8px;
}
